<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="shortcut icon" href="/images/was-logo.png" type="image/x-icon">
  <meta name="description" content="">
  <meta name="csrf-token" content="NsLCyQVTyMPEh7KnVsmqHWbD67ixNGRAYgSJbDD0">

  <title>WAS Media Marketing </title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

  <link rel="stylesheet" type="text/css" href="/css/public.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">





</head>

<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">
    <!-- header -->
    <header class="main-header">
      <!-- Logo -->
      <a href="/admin/dashboard" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>WAS</b>T</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg">WAS Media Marketing</span>
      </a>
      <!-- Header Navbar: style can be found in header.less -->
      <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
          <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
            <li class="dropdown messages-menu">
              <a href="">
                <span class="hidden-xs">Tue, Sep 17, 2024 1:08 PM</span>
              </a>
            </li>
            <li class="dropdown messages-menu">
              <span><a href="https://WAS Media Marketing.org/admin/update-at" class="btn btn-default"
                  onClick="return confirm('Are you sure you want to update?')" style="margin-top:3mm"> Update
                </a></span>

            </li>
            <!-- User Account: style can be found in dropdown.less -->
            <li class="dropdown user user-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img src="/images/c-1.png" class="user-image" alt="User Image">
                <span class="hidden-xs">admin</span>
              </a>
              <ul class="dropdown-menu">
                <!-- User image -->
                <li class="user-header">
                  <img src="/images/c-1.png" class="img-circle" alt="User Image">
                  <p>
                    WAS Media Marketing
                    <small><a href="/cdn-cgi/l/email-protection" class="__cf_email__"
                        data-cfemail="95fcfbf3fad5fbf2ece0fbf2fbf0bbfae7f2">[email&#160;protected]</a></small>
                  </p>
                </li>
                <!-- Menu Footer-->
                <li class="user-footer">
                  <div class="pull-left">
                    <a href="" class="btn btn-default btn-flat">Profile</a>
                  </div>
                  <div class="pull-right">
                    <a href="/admin/logout" class="btn btn-default btn-flat">Sign out</a>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
      <!-- sidebar: style can be found in sidebar.less -->
      <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
          <div class="pull-left image">
            <img src="/images/c-1.png" class="img-circle" alt="User Image">
          </div>
          <div class="pull-left info">
            <p>WAS Media Marketing</p>
            <a href=""><i class="fa fa-circle text-success"></i> Online</a>
          </div>
        </div>

        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
          <li class="active">
            <a href="/admin/dashboard"><i class="fa fa-dashboard"></i> <span>Dashboard</span>
            </a>

          </li>
          <li class="">
            <a href="/admin/enquiry">
              <i class="fa fa-check-circle"></i> <span>General Inquiry</span>
            </a>
          </li>

          <li class="">
            <a href="/admin/page">
              <i class="fa fa-check-circle"></i> <span>Pages</span>
            </a>
          </li>
          <li class="">
            <a href="/admin/file">
              <i class="fa fa-check-circle"></i> <span>Files</span>
            </a>
          </li>






          <li class="">
            <a href="/admin/slider"><i class="fa fa-exchange"></i>Slider</a>
          </li>

          <li class="">
            <a href="/admin/faq"><i class="fa fa-question-circle"></i> FAQ</a>
          </li>




          <li class="">
            <a href="/admin/social-link">
              <i class="fa fa-link"></i> <span>Social Links</span>
            </a>
          </li>
          <li class="">
            <a href="/admin/navbar">
              <i class="fa fa-cog"></i> <span>Navbar</span>
            </a>
          </li>
          <li class="">
            <a href="/admin/subscriber">
              <i class="fa fa-cog"></i> <span>NewsLetter</span>
            </a>
          </li>

        </ul>
      </section>
      <!-- /.sidebar -->
    </aside>


    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          Pages
          <small>The description of pages can be changed here. </small>
        </h1>
        <ol class="breadcrumb">
          <li><a href="/admin/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
          <li><a href="/admin/page"> Pages</a></li>
          <li class="active">Add Pages</li>
        </ol>
      </section>

      <!-- Main content -->
      <section class="content">
        <!-- Main row -->
        <div class="row">
          <section class="col-md-12">

            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title">Add Page</h3>
              </div><!-- /.box-header -->

              <!-- form start -->
              <form role="form" method="post" enctype="multipart/form-data" data-parsley-validate="">
                <div class="box-body">
                  <!-- Title -->
                  <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" placeholder="Title" name="title" value="<%= page.title %>"
                      required>
                  </div>

                  <!-- URL Slug -->
                  <div class="form-group">
                    <label for="urlSlug">URL Slug</label>
                    <input type="text" class="form-control" placeholder="urlSlug" name="urlSlug"
                      value="<%= page.urlSlug %>" required>
                  </div>

                  <!-- Page Type -->
                  <div class="form-group">
                    <label for="pageType">Page Type</label>
                    <input type="text" class="form-control" placeholder="pageType" name="pageType"
                      value="<%= page.pageType %>" required>
                  </div>

                  <!-- Cover Image -->
                  <div class="form-group">
                    <label>Cover Image</label>
                    <div class="col-sm-12">
                      <div class="col-sm-6">
                        <input type="file" id="imageAdd" name="image" class="form-control" readonly=""
                          value="<%= page.image %>">
                      </div>
                      <div class="col-sm-6">
                        <a href="/admin/image" data-fancybox-type="iframe" class="btn btn-success iframe-btn">Choose
                          Image</a>
                      </div>
                    </div>
                  </div>

                  <!-- Add File -->
                  <div class="form-group">
                    <label>Add File</label>
                    <div class="col-sm-12">
                      <div class="col-sm-6">
                        <input type="text" id="fileAdd" name="file" class="form-control" readonly=""
                          value="<%= page.file %>">
                      </div>
                      <div class="col-sm-6">
                        <a href="#" data-fancybox-type="iframe" class="btn btn-success iframe-btn">Choose File</a>
                      </div>
                    </div>
                  </div>
                  <input type="hidden" id="page-id" value="<%= page._id %>">
                  <!-- Content Description -->
                  <div class="form-group">
                    <label for="content">Description</label>
                    <textarea class="form-control" rows="5" placeholder="Description" name="description"
                      id="content"><%- page.contentHTML%></textarea>
                  </div>
                </div>

                <div class="box-footer">
                  <div class="container-fluid">
                    <div class="meta-information row">
                      <div class="col-md-6">
                        <label for="meta-title" class="form-label">Meta Title</label>
                        <input type="text" class="form-control" id="meta-title" value="<%= page.metaTitle %>"
                          placeholder="Meta Title">
                      </div>
                      <div class="col-md-6">
                        <label for="meta-keyword" class="form-label">Meta Keyword</label>
                        <input type="text" class="form-control" id="meta-keyword"
                          value="<%= page.metaKeywords.join(', ') %>" placeholder="Meta Keyword">
                      </div>
                      <div class="col-12 meta-description">
                        <label for="meta-description" class="form-label">Meta Description</label>
                        <textarea class="form-control" id="meta-description" rows="4"
                          placeholder="Meta Description"><%= page.metaDescription %></textarea>
                      </div>
                    </div>
                  </div>

                  <button type="submit" class="btn btn-primary pull-right" id="submit-all">Save</button>
                </div>
              </form>

            </div>
          </section>
        </div>

      </section><!-- /.content -->


    </div><!-- /.content-wrapper -->

    <!-- footer -->
    <footer class="main-footer">

      <strong>Copyright &copy;

        <strong>
    </footer>
  </div><!-- ./wrapper -->
  <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
  <script src="https://ngyungne.org/public/js/all.js"></script>
  <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>


  <script src="https://ngyungne.org/public/admin/plugins/iCheck/icheck.min.js"></script>
  <script type="text/javascript">
    //Flat red color scheme for iCheck
    $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
      checkboxClass: 'icheckbox_flat-green',
      radioClass: 'iradio_flat-green'
    });
  </script>
  <script src="https://ngyungne.org/public/admin/plugins/tinymce/tinymce.min.js"></script>


  <script>
    tinymce.init({
      selector: "#content",
      theme: "modern",
      height: 500,

      plugins: [
        'advlist charmap lists print link image preview hr anchor pagebreak',
        'searchreplace wordcount visualblocks visualchars code fullscreen',
        'insertdatetime nonbreaking save table contextmenu directionality',
        'template paste textcolor colorpicker textpattern'
      ],

      toolbar1: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | forecolor backcolor | image | fontselect fontsizeselect',

      fontsize_formats: "8px 10px 12px 14px 18px 24px 36px",
      font_formats: 'Andale Mono=andale mono,times;Arial=arial,helvetica,sans-serif;Arial Black=arial black,avant garde;Book Antiqua=book antiqua,palatino;Comic Sans MS=comic sans ms,sans-serif;Courier New=courier new,courier;Georgia=georgia,palatino;Helvetica=helvetica;Impact=impact,chicago;Symbol=symbol;Tahoma=tahoma,arial,helvetica,sans-serif;Terminal=terminal,monaco;Times New Roman=times new roman,times;Trebuchet MS=trebuchet ms,geneva;Verdana=verdana,geneva;Webdings=webdings;Wingdings=wingdings,zapf dingbats',

      image_advtab: true,
      paste_as_text: true,

      relative_urls: false,
      remove_script_host: false,

      filemanager_title: "Responsive Filemanager",
      external_filemanager_path: "http://localhost:5000/public/admin/plugins/richfilemanager/filemanager/", // URL to your file manager UI
      // external_plugins: {
      //   "filemanager": "http://localhost:5000/public/admin/plugins/richfilemanager/filemanager/plugin.min.js" // URL to file manager plugin
      // },

      // Here is the file_picker_callback function
      // file_picker_callback: function(callback, value, meta) {
      //   // Only handle image files
      //   if (meta.filetype === 'image') {
      //     // Open the file input dialog for the user to select an image
      //     var input = document.createElement('input');
      //     input.type = 'file';
      //     input.accept = 'image/*'; // Allow only images
      //     input.click();

      //     // Wait for the user to select a file
      //     input.onchange = function() {
      //       var file = input.files[0]; // Get the selected file

      //       // Create a new FormData object to send the file via AJAX
      //       var formData = new FormData();
      //       formData.append('image', file);

      //       // Use fetch to send the file to the server
      //       fetch('/admin/image/upload', {
      //         method: 'POST',
      //         body: formData,  // Pass the FormData object
      //       })
      //       .then(response => response.json())
      //       .then(data => {
      //         if (data.fileUrl) {
      //           // Pass the URL of the uploaded image to the TinyMCE callback function
      //           callback(data.fileUrl);  // This will insert the image URL into the editor
      //         } else {
      //           // Handle any errors from the server
      //           alert('Error uploading image');
      //         }
      //       })
      //       .catch(error => {
      //         console.error('Error:', error);
      //         alert('There was an error uploading the image');
      //       });
      //     };
      //   }
      // }
    });

    async function collectFormData(event) {
      event.preventDefault();

      // Collecting data from the form
      const title = document.querySelector('input[name="title"]').value;
      const urlSlug = document.querySelector('input[name="urlSlug"]').value;
      const pageType = document.querySelector('input[name="pageType"]').value;
      const image = document.querySelector('input[name="image"]').value;
      const file = document.querySelector('input[name="file"]').value;
      const content = tinymce.get('content').getContent(); // Get content from TinyMCE
      const metaTitle = document.querySelector('#meta-title').value;
      const metaKeyword = document.querySelector('#meta-keyword').value;
      const metaDescription = document.querySelector('#meta-description').value;

      // Create an object to hold the data
      const formData = {
        title,
        urlSlug,
        pageType,
        image,
        file,
        content,
        metaTitle,
        metaKeyword,
        metaDescription,
      };

      console.log('Form Data:', formData);

      try {
        const pageId = document.querySelector('#page-id').value;
        const response = await fetch(`/admin/pages/${pageId}`, {
          method: 'PATCH',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(formData),
        });

        // Check if the response is successful
        if (response.ok) {
          const result = await response.json();
          alert('Your message has been sent!');
          console.log('Server Response:', result);
        } else {
          const errorData = await response.json();
          alert('There was an error sending your message: ' + errorData.message);
        }
      } catch (error) {
        console.error('Error:', error);
        alert('Failed to send message. Please try again later.');
      }
    }


    document.querySelector('form').addEventListener('submit', collectFormData);

  </script>
  <script type="text/javascript" src="https://ngyungne.org/public/admin/plugins/standalone.js"></script>
  <script type="text/javascript">
    $("#answer").hide();
    function valueChanged() {

      if ($('#coupon_question').is(":checked"))
        $("#answer").show();
      else
        $("#answer").hide();
    }
  </script>

  <script src="https://ngyungne.org/public/admin/plugins/parsley/parsley.min.js"></script>






</body>

</html>