<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="shortcut icon" href="/images/was-logo.png" type="image/x-icon">
	<meta name="description" content="">
	<meta name="csrf-token" content="NsLCyQVTyMPEh7KnVsmqHWbD67ixNGRAYgSJbDD0">

	<title>WAS Media Marketing </title>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

	<link rel="stylesheet" type="text/css" href="/css/public.css">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">





</head>

<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">
		<!-- header -->
		<header class="main-header">
			<!-- Logo -->
			<a href="/admin/dashboard" class="logo">
				<!-- mini logo for sidebar mini 50x50 pixels -->
				<span class="logo-mini"><b>WAS</b>T</span>
				<!-- logo for regular state and mobile devices -->
				<span class="logo-lg">WAS Media Marketing</span>
			</a>
			<!-- Header Navbar: style can be found in header.less -->
			<nav class="navbar navbar-static-top" role="navigation">
				<!-- Sidebar toggle button-->
				<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
					<span class="sr-only">Toggle navigation</span>
				</a>
				<div class="navbar-custom-menu">
					<ul class="nav navbar-nav">
						<li class="dropdown messages-menu">
							<a href="">
								<span class="hidden-xs">Tue, Sep 17, 2024 1:08 PM</span>
							</a>
						</li>
						<li class="dropdown messages-menu">
							<span><a href="https://WAS Media Marketing.org/admin/update-at" class="btn btn-default"
									onClick="return confirm('Are you sure you want to update?')" style="margin-top:3mm">
									Update </a></span>

						</li>
						<!-- User Account: style can be found in dropdown.less -->
						<li class="dropdown user user-menu">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<img src="/images/c-1.png" class="user-image" alt="User Image">
								<span class="hidden-xs">admin</span>
							</a>
							<ul class="dropdown-menu">
								<!-- User image -->
								<li class="user-header">
									<img src="/images/c-1.png" class="img-circle" alt="User Image">
									<p>
										WAS Media Marketing
										<small><a href="/cdn-cgi/l/email-protection" class="__cf_email__"
												data-cfemail="95fcfbf3fad5fbf2ece0fbf2fbf0bbfae7f2">[email&#160;protected]</a></small>
									</p>
								</li>
								<!-- Menu Footer-->
								<li class="user-footer">
									<div class="pull-left">
										<a href="" class="btn btn-default btn-flat">Profile</a>
									</div>
									<div class="pull-right">
										<a href="/admin/logout" class="btn btn-default btn-flat">Sign out</a>
									</div>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
		</header>
		<!-- Left side column. contains the logo and sidebar -->
		<aside class="main-sidebar">
			<!-- sidebar: style can be found in sidebar.less -->
			<section class="sidebar">
				<!-- Sidebar user panel -->
				<div class="user-panel">
					<div class="pull-left image">
						<img src="/images/c-1.png" class="img-circle" alt="User Image">
					</div>
					<div class="pull-left info">
						<p>WAS Media Marketing</p>
						<a href=""><i class="fa fa-circle text-success"></i> Online</a>
					</div>
				</div>

				<!-- sidebar menu: : style can be found in sidebar.less -->
				<ul class="sidebar-menu">
					<li class="active">
						<a href="/admin/dashboard"><i class="fa fa-dashboard"></i> <span>Dashboard</span>
						</a>

					</li>
					<li class="">
						<a href="/admin/enquiry">
							<i class="fa fa-check-circle"></i> <span>General Inquiry</span>
						</a>
					</li>

					<li class="">
						<a href="/admin/page">
							<i class="fa fa-check-circle"></i> <span>Pages</span>
						</a>
					</li>
					<li class="">
						<a href="/admin/file">
							<i class="fa fa-check-circle"></i> <span>Files</span>
						</a>
					</li>






					<li class="">
						<a href="/admin/slider"><i class="fa fa-exchange"></i>Slider</a>
					</li>

					<li class="">
						<a href="/admin/faq"><i class="fa fa-question-circle"></i> FAQ</a>
					</li>




					<li class="">
						<a href="/admin/social-link">
							<i class="fa fa-link"></i> <span>Social Links</span>
						</a>
					</li>
					<li class="">
						<a href="/admin/navbar">
							<i class="fa fa-cog"></i> <span>Navbar</span>
						</a>
					</li>
					<li class="">
						<a href="/admin/subscriber">
							<i class="fa fa-cog"></i> <span>NewsLetter</span>
						</a>
					</li>

				</ul>
			</section>
			<!-- /.sidebar -->
		</aside>


		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>
					Slider
					<small>The contents of main slideshow can be changed here. </small>
				</h1>
				<ol class="breadcrumb">
					<li><a href="/admin/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
					<li class="active">Slider</li>
				</ol>
			</section>

			<!-- Main content -->
			<section class="content">
				<!-- Main row -->
				<div class="row">
					<!-- Left col -->
					<section>
						<ul class="col-md-8 sortable" id="sortable">
							<input type="hidden" name="_token" value="NsLCyQVTyMPEh7KnVsmqHWbD67ixNGRAYgSJbDD0">
							<% sliderMetadata.forEach(slider=> { %>
								<dl id="<%= slider.id %>">
									<div class="box box-success">
										<div class="box-header">
											<h3 class="box-title">
												<%= slider.title %>
											</h3> <!-- Display slider title -->
										</div>
										<div class="box-body">
											<div class="col-md-3">
												<img src="<%= slider.url %>" class="margin" height="60" width="150">
												<!-- Display image from URL -->
											</div>
											<div class="col-md-7">
												<dl class="dl-horizontal">
													<dt>Title:</dt>
													<dd>
														<%= slider.title %>
													</dd> <!-- Display slider title -->
													<dt>Subtitle:</dt>
													<dd>
														<%= slider.subtitle || 'No subtitle available' %>
													</dd>
													<dt>Visible:</dt>
													<dd>
														<%= slider.visible ? 'Yes' : 'No' %>
													</dd> <!-- Display visibility status -->
												</dl>
											</div>
											<div class="col-md-2">
												<a href="/admin/slider/edit/<%= slider.id %>"
													class="btn btn-success btn-block"><b>Edit</b></a>
												<form class="button-form" method="post"
													action="/admin/image/slider/<%= slider.id %>">
													<input type="submit" value="Delete"
														class="btn btn-danger btn-block pull-right"
														onclick="return confirm('Are you sure you want to delete?');">
												</form>
											</div>
										</div>
									</div>
								</dl>
								<% }) %>
						</ul>
					</section>


					<section class="col-md-4">

						<div class="box box-primary">
							<div class="box-header with-border">
								<h3 class="box-title">Add New Slider Image</h3>
							</div><!-- /.box-header -->
							<!-- form start -->
							<form class="image-form" role="form" id="sliderForm" enctype="multipart/form-data"
								data-parsley-validate="">
								<div class="box-body">
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Enter Title of Image *"
											name="title" value="">
									</div>
									<div class="form-group">
										<textarea class="form-control" rows="6" placeholder="Enter Subtitle of Image"
											name="subtitle"></textarea>
									</div>

									<div class="form-group">
										<label for="imageAdd">Choose Image</label>
										<input type="file" id="imageAdd" name="image" class="form-control" required>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label">Visible:</label>
										<div class="col-sm-9">
											<input type="checkbox" name="visible" value="1" checked>
										</div>
									</div>
								</div>
								<div class="box-footer">
									<button type="submit" class="btn btn-primary pull-right">Save</button>
								</div>
							</form>
						</div>
					</section>
				</div>

			</section><!-- /.content -->
		</div><!-- /.content-wrapper -->

		<!-- footer -->
		<footer class="main-footer">

			<strong>Copyright &copy;

				<strong>
		</footer>
	</div><!-- ./wrapper -->
	<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
	<script src="/js/all.js"></script>
	<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>



	<script src="https://ngyungne.org/public/admin/plugins/iCheck/icheck.min.js"></script>
	<script type="text/javascript">
		//Flat red color scheme for iCheck
		$('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
			checkboxClass: 'icheckbox_flat-green',
			radioClass: 'iradio_flat-green'
		});
	</script>
	<script type="text/javascript">
		$.ajaxSetup({
			headers: {
				'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
			}
		});

		$(".sortable").sortable({
			placeholder: "sort-highlight",
			connectWith: ".sortable",
			handle: ".box-header, .nav-tabs",
			forcePlaceholderSize: true,
			zIndex: 999999,
			update: function (event, ui) {
				var list_sortable = $(this).sortable('toArray').toString();

				// change order in the database using Ajax
				$.ajax({
					url: 'http://ngyungne.org/admin/slider/order',
					headers: { 'X-CSRF-TOKEN': $('input[name=_token]').val() },
					type: 'POST',
					data: { list_order: list_sortable },
					success: function (data) {
						//finished
						console.log(data);
					}
				});
			}
		});

		$(".sortable .box-header, .sortable .nav-tabs-custom").css("cursor", "move");
	</script>
	<script>
		document.addEventListener("DOMContentLoaded", function () {
			const form = document.querySelector('#sliderForm');;

			form.addEventListener('submit', function (event) {
				event.preventDefault(); // Prevent the default form submission
				const formData = new FormData(form);
				console.log('we are getting the data');
				for (let [key, value] of formData.entries()) {
					console.log(`${key}: ${value}`);
				} // Ensure the form data is correct

				fetch('/admin/image/slider', {
					method: 'POST',
					body: formData,
				})
					.then(response => response.json())
					.then(data => {
						if (data.message) {
							alert(data.message);
							form.reset();
						} else {
							alert('Error: ' + data.error);
						}
					})
					.catch(error => {
						console.error('Error:', error);
						alert('There was an error submitting the form');
					});
			});
		});
	</script>
	<script type="text/javascript" src="https://ngyungne.org/public/admin/plugins/standalone.js"></script>






</body>

</html>